<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Cadastro Usuário</title>
#{set 'moreStyles'}
        #{stylesheet 'main.css' /}
#{/set}
#{get 'moreStyles' /}
</head>

<body>

	<div id="wrapper">

        <div id="logomarca">
        </div><!-- #logomarca-->
        
        <div id="titleBar">
            Cadastro > <span>Cargos</span>
        </div><!-- #titleBar -->
        
        <div id="content">
	        	<div style="width: 680px; margin-bottom: 20px;">
	        		<a href="@{CargoApplication.cadastroCargo()}">
						<input type="button" class="button" value="Cadastrar Cargo"/>
					</a>
	        	</div>
	            <table class="listagem" width="680" cellpadding="0" cellspacing="1" align="center">
	            	<tr>
	            		<th>Cargo</th>
	            		<th>Salario</th>
	            		<th>Editar</th>
	            		<th>Apagar</th>
	            	</tr>
	            	#{list items:cargos, as:'cargo'}
		                <tr class="${cargo_index % 2 ? 'corForte' : ''}">
		                    <td width="300" style="text-align: center;">${cargo.nome}</td>
		                    <td style="text-align: center;">${cargo.salario}</td>
		                    <td style="text-align: center;">
		                    	<form action="@{CargoApplication.alterarCargo()}" method="post">
		                    		<input type="hidden" name="idCargo" value="${cargo.id}" />
		                    		<input type="image" src="/public/img/edit_b.png" id="image" />
		                    	</form>
		                    </td>
		                    <td style="text-align: center;">
		                    	<form action="@{CargoApplication.excluirCargo()}" method="post">
		                    		<input type="hidden" value="${cargo.id}" name="idCargo"/>
		                    		<input type="image" src="/public/img/delete_b.png" name="image"  />
		                    	</form>
		                    </td>
		                </tr>
	                #{/list}
	            </table>
        </div><!-- #content -->
      
        <div id="footer">
        	2012 - SC Transporte - Todos os direitos reservados
        </div><!-- #footer -->
        
	</div><!-- #wrapper -->

</body>
</html>