<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Menu</title>
#{set 'moreStyles'}
        #{stylesheet 'main.css' /}
#{/set}
#{get 'moreStyles' /}
</head>

<body>

	<div id="wrapper">

        <div id="logomarca">
        </div><!-- #logomarca-->
        
        <div id="titleBar">
            Principal > <span>Menu</span>
        	<a class="sair" href="@{Application.index()}">Sair</a> </div><!-- #titleBar -->
        
       	<form action="@{Application.menu()}" method="post">
	        <div id="content">
	        	<div style="color: green; font-weight: bold; text-align: center;">
	        		${msgInformation != null ? msgInformation : ''}
	        	</div>
	        	<font style="text-align: left"> Olá, ${user.nome}!</font><br />
	        	<div id="menuWrap">
	            	<table width="200" cellpadding="0" cellspacing="5" style="float: left;">
						<tr>
							<td>
								<b>Veículos</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{MarcaApplication.listaMarca()}">
									<input type="button" class="button2" value="Marca"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{TipoVeiculoApplication.listaTipoVeiculo()}">
									<input type="button" class="button2" value="Tipo de Veiculo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{ModeloApplication.listaModelo()}">
									<input type="button" class="button2" value="Modelo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{VeiculoApplication.listaVeiculo()}">
									<input type="button" class="button2" value="Veiculo"/>
								</a>
							</td>
						</tr>
					</table>
					<table width="200" cellpadding="0" cellspacing="5" style="float: left;">
						<tr>
							<td>
								<b>Usuários</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{CargoApplication.listaCargo()}">
									<input type="button" class="button2" value="Cargo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{FuncionarioApplication.listaFuncionario()}">
									<input type="button" class="button2" value="Funcionario"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{UsuarioApplication.listaUsuario()}">
									<input type="button" class="button2" value="Usuario"/>
								</a>
							</td>
						</tr>
					</table>
					<table width="200" cellpadding="0" cellspacing="5" style="float: left;">
							<tr>
								<td>
									<b>Clientes</b>
								</td>
							</tr>
							<tr>
								<td>
									<a href="@{ClienteApplication.listaCliente()}">
										<input type="button" class="button2" value="Clientes"/>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="@{EntregaApplication.listaEntrega()}">
										<input type="button" class="button2" value="Entregas"/>
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<a href="@{ViagemApplication.listaViagem()}">
										<input type="button" class="button2" value="Viagens"/>
									</a>
								</td>
							</tr>
					</table>
					<table width="200" cellpadding="0" cellspacing="5" style="float: left;">
						<tr>
							<td>
								<b>Consultas/Relatórios</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{RelatorioViagemApplication.relatorioViagem()}">
									<input type="button" class="button2" value="Relatório de Viagens"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{ClienteApplication.relatorioCliente()}">
									<input type="button" class="button2" value="Relatório de Clientes" />
								</a>
							</td>
						</tr>
				</table>
			</div>
		</div>
	</form>
</body>
</html>