<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Cadastro Funcionário</title>
#{get 'moreStyles' /}
</head>

<body>

	<div id="wrapper">

        <div id="logomarca">
        </div><!-- #logomarca-->
        
        <div id="titleBar">
            Cadastro > <span>Novo Funcionário</span>
        </div><!-- #titleBar -->
        
        <div id="content">
            <table width="600" cellpadding="0" cellspacing="5">
                <tr>
                    <td valign="top">Nome Completo:</td>
                    <td><input class="input" type="text" /></td>
              </tr>
                <tr>
                    <td valign="top">CPF/CNPJ:</td>
                    <td><input class="input" type="text" /></td>
                </tr>
                <tr>
                    <td valign="top">Contato:</td>
                    <td><input class="input" type="text" /></td>
                </tr>
                <tr>
                    <td valign="top">Cargo:</td>
                    <td>
                        <select name="cargos">
                                <option value="init" selected="selected"> -- SELECIONE -- </option>
                                <option value="fiscal">FISCAL</option>
                                <option value="motorista" >MOTORISTA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" class="button" value="Cadastrar" />
                        <input type="button" class="button" value="Limpar Campos" />
                    </td>
                </tr>
            </table>
        </div><!-- #content -->
      
        <div id="footer">
        	2012 - SC Transporte - Todos os direitos reservados
        </div><!-- #footer -->
        
	</div><!-- #wrapper -->

</body>
</html>