<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Menu</title>
#{set 'moreStyles'}
        #{stylesheet 'main.css' /}
#{/set}
#{get 'moreStyles' /}
</head>

<body>

	<div id="wrapper">

        <div id="logomarca">
        </div><!-- #logomarca-->
        
        <div id="titleBar">
            Principal > <span>Menu</span>
        </div><!-- #titleBar -->
        
       	<form action="@{Application.menu()}" method="post">
	        <div id="content">
	        	<div style="color: green; font-weight: bold; text-align: center;">
	        		${msgInformation != null ? msgInformation : ''}
	        	</div>
	        	<font style="text-align: left"> Olá, ${user.nome}!</font><br />
		            <table width="300" cellpadding="0" cellspacing="5" style="float: left;">
						<tr>
							<td>
								<b>Veículos</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{MarcaApplication.cadastroMarca()}">
									<input type="button" class="button" value="Cadastrar Marca"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{TipoVeiculoApplication.cadastroTipoVeiculo()}">
									<input type="button" class="button" value="Cadastrar Tipo Veiculo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{ModeloApplication.cadastroModelo()}">
									<input type="button" class="button" value="Cadastrar Modelo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{VeiculoApplication.cadastroVeiculo()}">
									<input type="button" class="button" value="Cadastrar Veiculo"/>
								</a>
							</td>
						</tr>
					</table>
					<table width="300" cellpadding="0" cellspacing="5">
						<tr>
							<td>
								<b>Usuários</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{CargoApplication.cadastroCargo()}">
									<input type="button" class="button" value="Cadastrar Cargo"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{FuncionarioApplication.cadastroFuncionario()}">
									<input type="button" class="button" value="Cadastrar Funcionario"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{UsuarioApplication.cadastroUsuario()}">
									<input type="button" class="button" value="Cadastrar Usuario"/>
								</a>
							</td>
						</tr>
					</table>
			</div>
			<div id="content">
				<table width="300" cellpadding="0" cellspacing="5" style="float: left;">
						<tr>
							<td>
								<b>Clientes</b>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{ClienteApplication.cadastroCliente()}">
									<input type="button" class="button" value="Cadastrar Cliente"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{EntregaApplication.cadastroEntrega()}">
									<input type="button" class="button" value="Cadastrar Entrega"/>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								<a href="@{ViagemApplication.cadastroViagem()}">
									<input type="button" class="button" value="Cadastrar Viagem"/>
								</a>
							</td>
						</tr>
				</table>
			</div>
			<div id="content">
				<a href="@{Application.index()}">
					<input type="button" class="button" value="Sair" />
				</a>
			</div>
		</form>
	</div>
</body>
</html>