<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Login</title>
#{get 'moreStyles' /}
</head>
<body>

	<div id="wrapper">

		<div id="login">

			<div id="logomarca">
			</div><!-- #logomarca-->
			<form action="@{Application.logar()}" method="POST">
				<div style="color: red; font-weight: bold; text-align: center;">
	        		${msgErro != null ? msgErro : ''}
	        	</div>
				<table cellpadding="0" cellspacing="0" width="250">
					<tr><td colspan="2" align="center" class="cadeado">Efetue o Login</td></tr>
					<tr>
						<td align="center">Login:</td>
						<td align="left"><input class="input" type="text" name="login" /></td>
					</tr>
					<tr>
						<td align="center">Senha:</td>
						<td align="left"><input class="input" type="password" name="pwd" /></td>
					</tr>
					<tr>
						<td width="60"></td>
						<td align="left"><input class="button" type="submit" value="Entrar" /></td>
					</tr>					
				</table>
			</form>

		</div><!-- #login -->

	</div><!-- #wrapper -->

</body>
</html>