<html>
<head>
	<div style="text-align: center; background-color: white; color: black;">
		SCTransporte
	</div>
</head>
<body style="background-color: graytext; color: white;  text-align: center;">
	<form action="@{Application.menu()}" method="POST">
	
		<div style="text-align: center; padding-left: 39%; padding-top: 15%">
			<fieldset align="center" style="width: 35%;">
				<legend align="center" style="color: white;"><b>Acesso?</b></legend>
					<b>Login:</b> <input type="text" name="login" value="Digite seu login!" /><br/>
					<b>Senha:</b> <input type="password" name="pwd" /><br/>
				<input type="submit" value="Entrar" />
				<input type="reset" value="Limpar Campos"/>
			</fieldset>	
		</div>
	</form>
</body>
</html>