<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC Transportes - Cadastro Veículo</title>
#{set 'moreStyles'}
        #{stylesheet 'main.css' /}
#{/set}
#{get 'moreStyles' /}
</head>

<body>

	<div id="wrapper">

        <div id="logomarca">
        </div><!-- #logomarca-->
        
        <div id="titleBar">
            Cadastro > <span>Nova Viagem</span>
        </div><!-- #titleBar -->
        
        <div id="content">
        	<form action="@{ViagemApplication.cadastrar()}" method="post" >
        		<div style="color: red; font-weight: bold; text-align: center;">
	        		#{if erros != null}
		        		#{list items:erros, as:'erro'}
							${erro}
							<br/>
							<br/>
						#{/list}
					#{/if}
	        	</div>
	            <table width="600" cellpadding="0" cellspacing="5">
	                <tr>
	                    <td valign="top">Veículo:</td>
	                    <td>
	                        <select name="idCarro">
								<option value="0" selected="selected"> -- SELECIONE -- </option>
								#{list items:carros, as:'carro'}
									<option value="${carro.id}">${carro.modelo.nome} - ${carro.ano} - ${carro.placa}</option>
								#{/list}
							</select>
	                    </td>
	                </tr>
	                <tr>
	                    <td valign="top">Motorista:</td>
	                    <td>
	                        <select name="idMotorista">
								<option value="0" selected="selected"> -- SELECIONE -- </option>
								#{list items:motoristas, as:'motorista'}
									<option value="${motorista.id}">${motorista.usuario.nome}</option>
								#{/list}
							</select>
	                    </td>
	                </tr>
	                <tr>
	                    <td valign="top">Data de Saída:</td>
	                    <td><input class="input" type="text" name="dataSaida"  maxlength="10"/></td>
	                </tr>
					<tr>
	                    <td valign="top">Data de Chegada:</td>
	                    <td><input class="input" type="text" name="dataChegada"  maxlength="10"/></td>
	                </tr>
	                <tr>
	                    <td valign="top">Quilometragem Inicial:</td>
	                    <td><input class="input" type="text" name="quilometragemInicial"  maxlength="15"/></td>
	                </tr>
	                <tr>
	                    <td valign="top">Quilometragem Final:</td>
	                    <td><input class="input" type="text" name="quilometragemFinal"  maxlength="15"/></td>
	                </tr>
	                <tr>
	                	<td valign="top">Entregas:</td>
	                	<td>
	                		#{list items:entregas, as:'entrega'}
								<input type="checkbox" value="${entrega.id}" name="ents[]"> ${entrega.descricao}
								<br/>
							#{/list}
	                	</td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td>
	                        <input type="submit" class="button" value="Cadastrar" />
	                        <input type="reset" class="button" value="Limpar Campos" />
	                    </td>
	                </tr>
	            </table>
            </form>
        </div><!-- #content -->
      
        <div id="footer">
        	2012 - SC Transporte - Todos os direitos reservados
        </div><!-- #footer -->
        
	</div><!-- #wrapper -->

</body>
</html>